h1 {text-align: center; font-size: 45px; font-family: Comic Sans MS; color: #703e00}
body {background: #ffe8cf}
h3 {font-family: Comic Sans MS; font-size: 20px; color: #703e00; margin-left: 15px}
h2 {text-align: left; font-family: Comic Sans MS; text-decoration: underline; color: #703e00; font-size: 22px}
sus {font-family: Comic Sans MS; text-decoration: underline; font-weight: bold; color: brown; font-size: 21px}
txt {font-family: Georgia, 'Times New Roman', Times, serif; font-size: 17px}
excerpt {font-size: 19px}
size {font-weight: bold}
